



.custom-nav {
    background-color: #2c2c2c; /* blue */
  }


.custom-nav-text {
    color: white !important;
}

.bg-gray{
    background-color: #646464;
}

.news-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}


/*    ===========================  */


.featured-news-section {
    width: 25%;
    float: right;
    margin-top: 20px;
}

.featured-news-section h2 {
    text-align: center;
}

.featured-news-item {
    margin-bottom: 20px;
}

.featured-news-item img {
    width: 100%;
}

.featured-news-item h3 {
    margin-top: 10px;
}

.f



